@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mozilla+Text:wght@200..700&display=swap');

/* .montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  }
  .luckiest-guy-regular {
    font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
  }
  
  .mozilla-text-<uniquifier> {
    font-family: "Mozilla Text", sans-serif;
    font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

:root{
    --black: rgba(50,50,50,1);
    --white: rgb(250, 250, 250, 1);
    --red: rgba(240, 104, 104,1);
    --green: rgba(144, 241, 144,1);
    --blue: rgba(104, 174, 240,1);
    --orange: rgba(247, 165, 98,1);
    --yellow: rgba(246, 207, 87, 1);
    --cyan: rgba(171, 255, 255, 1);
    --magenta: rgb(254, 112, 248, 1);
    --black-opacity: rgba(50,50,50,0.3);
    --white-opacity: rgb(250, 250, 250, 0.1);
    --red-opacity: rgba(240, 104, 104,0.3);
    --green-opacity: rgba(144, 241, 144,0.3);
    --blue-opacity: rgba(104, 174, 240,0.3);
    --orange-opacity: rgba(247, 165, 98,0.3);
    --yellow-opacity: rgba(246, 207, 87, 0.3);
    --cyan-opacity: rgba(171, 255, 255, 0.3);
    --magenta-opacity: rgb(254, 112, 248, 1);
}

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    background-color: var(--black);
    color: var(--white);
    font-family: "Montserrat", sans-serif;
    font-size: 1.4rem;
    min-height: 100vh;
}

h1 {
	font-family: "Luckiest Guy", cursive;
	font-size: 4rem;
	font-weight: 300;
	color: var(--yellow);
	text-shadow: 0px 0px 5px var(--red);
}

h2{
    font-family: "Mozilla Text", sans-serif;
    font-size: 3.2rem;
    color: var(--blue);
}
h3{
    font-family: "Mozilla Text", sans-serif;
    font-size: 2.2rem;
    font-weight: 500;
}
h4{
    font-family: "Mozilla Text", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
}
input[type="text"],input[type="number"] {
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    flex: 1;
}
form{
    display: flex;
    gap: 1rem;
    border: 0.1rem solid var(--blue-opacity);
    border-radius: 0.3rem;
    padding: 1rem;
    width: 75%;
}
.bg-red{
    background-color: var(--red);
    color: var(--white);
}

.bg-green{
    background-color: var(--green);
    color: var(--black);
}

.bg-blue{
    background-color: var(--blue);
    color: var(--yellow);
}

.bg-yellow{
    background-color: var(--yellow);
    color: var(--black);
}

.bg-orange{
    background-color: var(--orange);
    color: var(--black);
}

.bg-cyan{
    background-color: var(--cyan);
    color: var(--black);
}

.bg-white{
    background-color: var(--white);
    color: var(--black);
}

.bg-black{
    background-color: var(--black);
    color: var(--white);
}
.bg-magenta{
    background-color: var(--magenta);
    color: var(--white);
}

.btn{
    padding: 0.25rem 1rem;
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-group{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-top: 0.5rem;
}
.header {
    background: linear-gradient(45deg, var(--red-opacity), var(--green-opacity), var(--orange-opacity));
    padding: 0.25rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.stats-div {
	display: flex;
	gap: 1rem;
	border-radius: 0.3rem;
}

.stats-container {
	display: flex;
	gap: 1rem;
}
.stat-count {
	width: 2rem;
	height: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
    font-size: 1.2rem;
    font-weight: 600;
}
.pokemon-gym {
    padding: 0.25rem 1rem;
}
.pokemon-roster{
    display: flex;
    gap: 1rem;
    border: 0.1rem solid var(--blue-opacity);
    border-radius: 0.3rem;
    padding: 1rem;
    flex-wrap: wrap;
}
.pokemon-card {
    flex-basis: 15vw;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--white-opacity);
    padding: 1rem;
}
.sNo::after{
    content: "✨";
    font-size: 1.5rem;
    margin-right: 0.25rem;
}
.pokemon-stat-container{
    display: flex;
    align-items: center;
    padding: 0.25rem;
    gap: 0.5rem;
}
h3.pokemon-title{
    color: var(--yellow);
    text-transform: uppercase;
}
.sNo{
    color: var(--white);
}
p.stat-name {
    color: var(--magenta);
    font-weight: 500;
}

p.pokemon-level {
    color: var(--cyan);
    font-weight: 500;
}